body {
    font-family: Arial, sans-serif;
    background-color: #1B1B1B;
    color: #FFF;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

nav {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 100;
    background-color: rgba(27, 27, 27, 0.8);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    margin-bottom: 15px;
}

nav a {
    color: #FFF;
    text-decoration: none;
}

nav a:hover {
    color: #FFC800;
    text-decoration: underline;
}

header {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #FFC800;
}

#headshot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.intro, .featured-protocols {
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #FFC800;
}

a {
    color: #FFC800;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.meme-gal {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.protocol.gal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.protocol.gal img {
    width: 300px;
    height: 250px;
    margin-bottom: 10px;
}

.meme-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.meme {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 480px) {
    nav {
        background-color: transparent;
        padding: 0;
    }

    nav ul {
        flex-direction: row;
    }

    nav li {
        display: inline;
        margin-left: 15px;
        margin-bottom: 0;
    }

    .meme-gal {
        grid-template-columns: repeat(2, 1fr);
    }

    .protocol.gal {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .protocol.gal img {
        width: 48%;
    }
}

@media (min-width: 768px) {
    .meme-gal {
        grid-template-columns: repeat(3, 1fr);
    }

    .protocol.gal img {
        width: 31%;
    }
}

.nav-link.active {
    color: #FFC800;
    font-weight: bold;
    text-decoration: underline;
}

.center-heading {
    text-align: center;
    margin-top: 50px;
}

footer {
    background-color: #1B1B1B;
    color: #FFF;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
}
